*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info div{
    padding: 2rem;
    background-color:crimson;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}